</div><!-- Wrapper's end -->
<aside id="r_aside">
	<section class="r_aside">
		<h3>Noticias</h3>
		<div class="block">
			<article><h1>No hay noticias recientes</h1><p>Futuros talleres y eventos serán publicados aquí, ¡estate atent@!</p></article>
		</div>
	</section>
	<section class="r_aside">
		<h3>Patrocinadores</h3>
		<div class="block">
			<script src="/js/sponsors.js"></script>
		</div>
	</section>
	<section class="r_aside">
		<h3>Otros temas</h3>
		<div class="block">
			<script src="/js/other_topics.js"></script>
		</div>
	</section>
</aside>
