</div><!-- Wrapper's end -->
<aside id="r_aside">
	<section class="r_aside">
		<h3>News</h3>
		<div class="block">
			<article><h1>There are no recent news</h1><p>Future workshops and events will be published here, stay tuned!</p></article>
		</div>
	</section>
	<section class="r_aside">
		<h3>Sponsors</h3>
		<div class="block">
			<script src="/js/sponsors.js"></script>
		</div>
	</section>
	<section class="r_aside">
		<h3>Other topics</h3>
		<div class="block">
			<script src="/js/other_topics.js"></script>
		</div>
	</section>
</aside>
