<nav id="main_nav">
<ul>
	<li><a href="" title="Página de inicio" class="nav_section">Inicio</a>
		<ul class="block">
			<li><a href="news/" title="Lee las últimas noticias">Noticias</a></li>
			<li><a href="about/" title="Conoce más sobre esta feria de empleo">La feria</a></li>
			<li><a href="etsii/" title="Conoce nuestra escuela">La escuela</a></li>
			<li><a href="forum/" title="Foro">Foro</a></li>
		</ul>
	</li>
	<li><a href="companies/" title="Proyectos de Reset" class="nav_section">Proyectos</a>
		<ul class="block">
			<li><a href="projects/all/" title="Todos los proyectos">Todos</a></li>
			<li><a href="projects/done/" title="Proyectos hechos">Terminados</a></li>
			<li><a href="projects/current/" title="Proyectos en curso">En curso</a></li>
			<li><a href="projects/cybertech/" title="Competición de Cybertech">Cybertech</a></li>
		</ul>
	</li>
	<li><a href="workshops/" title="Talleres de Reset" class="nav_section">Talleres</a>
		<ul class="block">
			<li><a href="workshops/all/" title="Todos los talleres, ordenados por puntuación">Todos</a></li>
			<li><a href="workshops/categories/" title="Filtra tus temas favoritos">Categorías</a></li>
			<li><a href="workshops/upcoming/" title="Talleres que tendrán lugar próximamente">Próximos</a></li>
		</ul>
	</li>
	<li><a href="free-software/" title="Software libre" class="nav_section">Software libre</a>
		<ul class="block">
			<li><a href="free-software/distributions/" title="Distribuciones GNU/Linux">Distribuciones</a></li>
			<li><a href="free-software/applications/" title="Aplicaciones de software libre">Aplicaciones</a></li>
		</ul>
	</li>
</ul>
</nav>
<div id="wrapper"><!-- Wrapper's begin -->
<nav id="crumbs_nav">
	<ul>
		<li><a href="">Level 0</a></li>
		<li><a href="">Level 1</a></li>
		<li class="current">Current level</li>
	</ul>
</nav>
