<nav id="main_nav">
<ul>
	<li><a href="" title="Home page" class="nav_section">Home</a>
		<ul class="block">
			<li><a href="about/" title="Know more about our association">About Reset</a></li>
			<li class="hide_with_r_aside"><a href="/news/" title="Read the latest news">News</a></li>
			<li><a href="calendar/" title="Calendar">Calendar</a></li>
			<li><a href="forum/" title="Forum">Forum</a></li>
			<li><a href="users/" title="Users">Users</a></li>
		</ul>
	</li>
	<li><a href="projects/" title="Reset projects" class="nav_section">Projects</a>
		<ul class="block">
			<li><a href="projects/all/" title="All projects">All</a></li>
			<li><a href="projects/done/" title="Done projects">Done</a></li>
			<li><a href="projects/current/" title="Current projects">Current</a></li>
			<li><a href="projects/cybertech/" title="Cybertech competition">Cybertech</a></li>
		</ul>
	</li>
	<li><a href="workshops/" title="Reset workshops" class="nav_section">Workshops</a>
		<ul class="block">
			<li><a href="workshops/all/" title="All our workshops, sorted by rating">All</a></li>
			<li><a href="workshops/categories/" title="Filter you favorite topics">Categories</a></li>
			<li><a href="workshops/upcoming/" title="Workshops to be held soon">Upcoming</a></li>
		</ul>
	</li>
	<li><a href="free-software/" title="Free software" class="nav_section">Free software</a>
		<ul class="block">
			<li><a href="free-software/distributions/" title="GNU/Linux distributions">Distributions</a></li>
			<li><a href="free-software/applications/" title="Free software applications">Applications</a></li>
		</ul>
	</li>
</ul>
</nav>
<div id="wrapper"><!-- Wrapper's begin -->
<nav id="crumbs_nav">
	<ul>
		<li class="current">Home</li>
	</ul>
</nav>
