<nav id="main_nav">
<ul>
	<li><a href="/es/" title="Página de inicio" class="nav_section">Inicio</a>
		<ul class="block">
			<li><a href="/es/about/" title="Conoce más sobre esta feria de empleo">Feria</a></li>
			<li><a href="/es/etsii/" title="Conoce nuestra escuela">ETSII</a></li>
			<li><a href="/forum/" title="Foro">Foro</a></li>
		</ul>
	</li>
	<li><a href="/es/companies/" title="Sección de empresas" class="nav_section">Empresas</a>
		<ul class="block">
			<li><a href="/es/companies/participation/" title="¡Ven a nuestra feria!">Participa</a></li>
			<li><a href="/es/companies/database/" title="Consulta nuestra base de datos">Base de datos</a></li>
			<li><a href="/es/companies/contact/" title="Cómo contactar con nosotros">Contacto</a></li>
		</ul>
	</li>
	<li><a href="/es/students/" title="Sección de estudiantes" class="nav_section">Alumnos</a>
		<ul class="block">
			<li><a href="/es/students/benefits/" title="¿Por qué deberías participar?">Ventajas</a></li>
			<li><a href="/es/students/participate/" title="¡Sube tu currículum a la base de datos!">Participa</a></li>
		</ul>
	</li>
</ul>
</nav>
<div id="wrapper"><!-- Wrapper's begin -->
