<nav id="main_nav">
<ul>
	<li><a href="" title="Página de inicio" class="nav_section">Inicio</a>
		<ul class="block">
			<li><a href="about/" title="Conoce más sobre nuestra asociación">Sobre Reset</a></li>
			<li class="hide_with_r_aside"><a href="news/" title="Lee las últimas noticias">Noticias</a></li>
			<li><a href="calendar/" title="Calendario">Calendario</a></li>
			<li><a href="forum/" title="Foro">Foro</a></li>
			<li><a href="users/" title="Usuarios">Usuarios</a></li>
		</ul>
	</li>
	<li><a href="projects/" title="Proyectos de Reset" class="nav_section">Proyectos</a>
		<ul class="block">
			<li><a href="projects/all/" title="Todos los proyectos">Todos</a></li>
			<li><a href="projects/done/" title="Proyectos hechos">Terminados</a></li>
			<li><a href="projects/current/" title="Proyectos en curso">En curso</a></li>
			<li><a href="projects/cybertech/" title="Competición de Cybertech">Cybertech</a></li>
		</ul>
	</li>
	<li><a href="workshops/" title="Talleres de Reset" class="nav_section">Talleres</a>
		<ul class="block">
			<li><a href="workshops/all/" title="Todos los talleres, ordenados por puntuación">Todos</a></li>
			<li><a href="workshops/categories/" title="Filtra tus temas favoritos">Categorías</a></li>
			<li><a href="workshops/upcoming/" title="Talleres que tendrán lugar próximamente">Próximos</a></li>
		</ul>
	</li>
	<li><a href="free-software/" title="Software libre" class="nav_section">Software libre</a>
		<ul class="block">
			<li><a href="free-software/distributions/" title="Distribuciones GNU/Linux">Distribuciones</a></li>
			<li><a href="free-software/applications/" title="Aplicaciones de software libre">Aplicaciones</a></li>
		</ul>
	</li>
</ul>
</nav>
<div id="wrapper"><!-- Wrapper's begin -->
<nav id="crumbs_nav">
	<ul>
		<li class="current">Inicio</li>
	</ul>
</nav>
