<nav id="main_nav">
<ul>
	<li><a href="" title="Home page" class="nav_section">Home</a>
		<ul class="block">
			<li><a href="/news/" title="Read the latest news">News</a></li>
			<li><a href="about/" title="Know more about this job fair">The job fair</a></li>
			<li><a href="etsii/" title="Meet our school">The School</a></li>
			<li><a href="forum/" title="Forum">Forum</a></li>
		</ul>
	</li>
	<li><a href="companies/" title="Companies' section" class="nav_section">Companies</a>
		<ul class="block">
			<li><a href="companies/participation/" title="Join this job fair!">Participation</a></li>
			<li><a href="companies/database/" title="Check our resume database">Data base</a></li>
			<li><a href="companies/contact/" title="Use our contact form to contact us">Contact us</a></li>
		</ul>
	</li>
	<li><a href="students/" title="Students' section" class="nav_section">Students</a>
		<ul class="block">
			<li><a href="students/benefits/" title="Why should you participate?">Benefits</a></li>
			<li><a href="students/participate/" title="Upload your resume to our data base!">Participate</a></li>
		</ul>
	</li>
</ul>
</nav>
<div id="wrapper"><!-- Wrapper's begin -->
<nav id="crumbs_nav">
	<ul>
		<li><a href="">Level 0</a></li>
		<li><a href="">Level 1</a></li>
		<li class="current">Current level</li>
	</ul>
</nav>
